In [205]:
import pandas as pd
df = pd.read_csv('F:/Folder Arief/[Kuliah]/Semester 7/Data Mining/PRE PROCESSING/movie_sample_dataset.csv')

In [206]:
#Tampilkan data awal dari dataset

In [207]:
df.head()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

In [208]:
#Perlu kita cek terlebih dahulu ukuran dari dataset

In [209]:
df.shape

(99, 13)

In [210]:
#Cek tipe data

In [211]:
df.dtypes

color                    object
director_name            object
duration                  int64
gross                   float64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                  float64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

In [212]:
#Ubah missing value menjadi NaN

In [213]:
import numpy as np
df.replace(['?', 'N/A', 'n/a', 'Nan', 'nan', 'NaN', 'null', 'NULL','Null'],np.nan,inplace = True)
missing_percentage = df.isnull().sum() / len(df) * 100

print ("Total missing value:")
print (df.isnull().sum())
print ("\nPersentase missing value:")
print (missing_percentage)

Total missing value:
color                   11
director_name           13
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

Persentase missing value:
color                   11.111111
director_name           13.131313
duration                 0.000000
gross                    8.080808
genres                   1.010101
movie_title              0.000000
title_year               0.000000
language                 0.000000
country                  0.000000
budget                   4.040404
imdb_score               0.000000
actors                   0.000000
movie_facebook_likes     0.000000
dtype: float64

In [214]:
#Terdapat missing value pada color, director_name, gross, genres, dan budget
#Baris yang memuat nilai missing value pada gross dan budget akan dihapus karena kolom tersebut merupakan data yang penting dan berpengaruh

In [215]:
df.dropna(subset=["gross"], axis=0, inplace=True)
df.dropna(subset=["budget"], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True) #Reset index

In [216]:
print(df.isnull().sum())

color                   10
director_name           12
duration                 0
gross                    0
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   0
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

In [217]:
#Melihat ukuran dataset setelah drop baris

In [218]:
df.shape

(89, 13)

In [219]:
#Sudah tidak ada missing value pada kolom gross dan budget
#Selanjutnya mengisi missing value pada color, direktor, dan genres

In [220]:
print("Jenis grafis movie paling umum: ",df['color'].value_counts().idxmax()) #Melihat data terbanyak

Jenis grafis movie paling umum:  Color

In [221]:
df["color"] = df["color"].replace(np.nan, "color")
df["color"] = df["color"].replace("Color", "color")

print(df["color"].value_counts())

color
color               87
color                1
 Black and White     1
Name: count, dtype: int64

In [222]:
#Masih terdapat data yang tidak konsisten

In [223]:
df[df["color"]!="color"]

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
41,Black and White,Steven Spielberg,146,79883359.0,Drama|War,War Horse,2011,English,usa,66000000.0,7.2,"Jeremy Irvine,Benedict Cumberbatch,Eddie Marsan",28000

In [224]:
#Mengubah nilai data yang tidak konsisten pada indeks 2

In [225]:
df.loc[2, "color"]="color"
print(df["color"].value_counts())

color
color               88
 Black and White     1
Name: count, dtype: int64

In [226]:
df["gross"] = df["gross"].astype("int")
df["budget"] = df["budget"].astype("int")

In [227]:
#Menghapus nilai N/A dan nilai negatif

In [228]:
df.dropna(subset=["director_name"], axis=0, inplace=True)
df.dropna(subset=["genres"], axis=0, inplace=True)
df.drop(df[df['duration'] < 0].index, inplace=True)
df.drop(df[df['imdb_score'] < 0].index, inplace=True)

In [229]:
print(df.isnull().sum())

color                   0
director_name           0
duration                0
gross                   0
genres                  0
movie_title             0
title_year              0
language                0
country                 0
budget                  0
imdb_score              0
actors                  0
movie_facebook_likes    0
dtype: int64

In [230]:
#Mengubah tipe data kolom gross dan budget menjadi integer

In [231]:
df["budget"] = df["budget"].astype(int, copy=True)
df["gross"] = df["gross"].astype(int, copy=True)

In [232]:
df.dtypes

color                    object
director_name            object
duration                  int64
gross                     int64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                    int64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

In [233]:
#Memisahkan genres

In [234]:
df_genres_split = df['genres'].str.split('|', expand=True)

# Menampilkan DataFrame
print(df_genres_split)

            0          1         2         3        4
0   Biography     Comedy     Crime     Drama     None
1      Action  Adventure    Sci-Fi      None     None
2       Crime      Drama   Mystery  Thriller  Western
3       Drama       None      None      None     None
4   Adventure    Fantasy      None      None     None
..        ...        ...       ...       ...      ...
84     Action  Adventure  Thriller      None     None
85  Biography      Drama   History      None     None
86  Biography      Drama  Thriller      None     None
87     Action      Drama       War      None     None
88  Biography      Drama     Music   Musical     None

[73 rows x 5 columns]

In [235]:
df["genres_1"]=df_genres_split[0]
df["genres_2"]=df_genres_split[1]
df["genres_3"]=df_genres_split[2]
df["genres_4"]=df_genres_split[3]

In [236]:
#Menghapus kolom genres lama
df = df.drop(columns=["genres"])

In [237]:
#Mengambil daftar kolom
cols = df.columns.tolist()
cols.insert(4, cols.pop(cols.index('genres_1'))) 
cols.insert(5, cols.pop(cols.index('genres_2')))
cols.insert(6, cols.pop(cols.index('genres_3'))) 
cols.insert(7, cols.pop(cols.index('genres_4'))) 
df = df[cols]

In [238]:
df.head()

,color,director_name,duration,gross,genres_1,genres_2,genres_3,genres_4,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,color,Martin Scorsese,240,116866727,Biography,Comedy,Crime,Drama,The Wolf of Wall Street,2013,English,USA,100000000,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,color,Shane Black,195,408992272,Action,Adventure,Sci-Fi,None,Iron Man 3,2013,English,USA,200000000,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191,Crime,Drama,Mystery,Thriller,The Hateful Eight,2015,English,USA,44000000,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,color,Kenneth Lonergan,186,46495,Drama,None,None,None,Margaret,2011,English,usa,14000000,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,color,Peter Jackson,186,258355354,Adventure,Fantasy,None,None,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

In [239]:
#Menyesuaikan kapital teks 
df["country"]=df["country"].str.upper()
for i in range (4):
    df[df.columns[i+4]]=df[df.columns[i+4]].str.lower()
df["language"]=df["language"].str.lower()
df["color"]=df["color"].str.lower()

In [240]:
df.head()

,color,director_name,duration,gross,genres_1,genres_2,genres_3,genres_4,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,color,Martin Scorsese,240,116866727,biography,comedy,crime,drama,The Wolf of Wall Street,2013,english,USA,100000000,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,color,Shane Black,195,408992272,action,adventure,sci-fi,None,Iron Man 3,2013,english,USA,200000000,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191,crime,drama,mystery,thriller,The Hateful Eight,2015,english,USA,44000000,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,color,Kenneth Lonergan,186,46495,drama,None,None,None,Margaret,2011,english,USA,14000000,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,color,Peter Jackson,186,258355354,adventure,fantasy,None,None,The Hobbit: The Desolation of Smaug,2013,english,USA,225000000,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

In [241]:
df.to_csv('movie_dataset_cleaned.csv', index=False)